ANTHROPIC_API_KEY=sk-ant-...
ZAPI_INSTANCE_ID=your_instance_id
ZAPI_TOKEN=your_zapi_token
ZAPI_CLIENT_TOKEN=your_zapi_client_token
NOTION_TOKEN=secret_...
NOTION_DATABASE_ID=your_notion_database_id
MY_PHONE_NUMBER=5511999999999
